<div  id="<%= dom_id item %>">
  <td  class="text-dark" >
    <%= item.name  %>
  </td>
  
  <td  class="text-dark" >
    <%= item.price %>
  </td>
  <td  class="text-dark" >
    <%= item.created_at %>
  </td>
  <td  class="text-dark" >
    <%= item.updated_at %>
  </td>
</div>
